@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


body{
    background-color: hsl(217, 54%, 11%);
font-size: 18px;
font-family: 'Outfit', sans-serif;
overflow: hidden;
   
}

.box1{

    width:470px;
    height: 600px;
    background-color:hsl(216, 50%, 16%);
    z-index: -11;
    margin-left: 550px;
    margin-top: 180px;
    position: relative;
    bottom: 170px;
    opacity: 0.1;
}
    
.box2{
    width:450px;
    height: 600px;
    background-color:hsl(216, 50%, 16%);
    z-index: -7;
    position: relative;
    bottom: 470px;
    margin-left: 570px;
    margin-top: 180px;
    opacity: 0.1;
}
.box3{
    width:390px;
    height: 600px;
    background-color: hsl(216, 50%, 16%);
    z-index: -5;
    position: relative;
    bottom: 1210px;
    margin-left: 550px;
    margin-top: 180px;
    opacity: 0.1;
}
.box4{
    width:400px;
    height: 600px;
    background-color: hsl(216, 50%, 16%);
    z-index: 1;
    position: relative;
    bottom: 5200px;
    margin-left: 550px;
    margin-top: 180px;
    opacity: 0.1;
}
.box5{
    width:400px;
    height: 600px;
    background-color:hsl(217, 54%, 11%);
    z-index: 1;
    position: relative;
    bottom: 5400px;
    margin-left: 550px;
    margin-top: 180px;
    opacity: 0.1;
}
.box6{
    width:400px;
    height: 600px;
    background-color:hsl(217, 54%, 11%);
    z-index: 1;
    position: relative;
    bottom: 5800px;
    margin-left: 550px;
    margin-top: 180px;
    opacity: 0.1;
}
.box7{
    width:400px;
    height: 600px;
    background-color:hsl(217, 54%, 11%);
    z-index: 1;
    position: relative;
    bottom: 6600px;
    margin-left: 550px;
    margin-top: 180px;
    opacity: 0.1;
}
.box8{
    width:400px;
    height: 600px;
    background-color:hsl(217, 54%, 11%);
    z-index: 1;
    position: relative;
    bottom: 6700px;
    margin-left: 550px;
    margin-top: 180px;
    opacity: 0.1;
}
.box9{
    width:400px;
    height: 600px;
    background-color:hsl(216, 50%, 16%);
    z-index: 1;
    position: relative;
    bottom: 6850px;
    margin-left: 550px;
    margin-top: 180px;
    opacity: 0.1;
}
.box10{
    width:390px;
    height: 610px;
    background-color:hsl(216, 50%, 16%);
    z-index: 1;
    position: relative;
    bottom: 7060px;
    margin-left: 550px;
    margin-top: 180px;
    border-radius: 10px;
}
    .img1{
        width:330px;
        margin-left: 31px;
        margin-top: 30px;
        border-radius: 10px;
       
    }
    .img2{
        width:10px;
        margin-left: 31px;
       
    }
    .img3{
        width:15px;
        margin-left: 31px;
        position: relative;
        left: 230px;
        bottom:79px;
      
    }
    .img4{
        width:35px;
        margin-left: 31px;
        position: relative;
        bottom:102px;
        border: 1px solid white;
        border-radius: 50%;
      
        
    }
    .p1{
        margin-left: 31px;
        color:  hsl(0, 0%, 100%);
       
        
    }
    .p2{
        margin-left: 31px;
        color: hsl(215, 51%, 70%);
        
    }.p3{
        margin-left: 31px;
        color: hsl(178, 100%, 50%);
        position: relative;
        left: 20px;
        bottom:40px;
        
    }.p4{
        margin-left: 31px;
        color: hsl(215, 51%, 70%);
        position: relative;
        left: 250px;
        bottom:120px;
      
    }
    .p5{
        margin-left: 31px;
        color: hsl(215, 51%, 70%);
        position: relative;
       left: 44px;
        bottom:155px;
      
        
    }
    .p6{
        margin-left: 31px;
        color:  hsl(0, 0%, 100%);
        position: relative;
        left: 139px;
        bottom:195px;
       
      
        
    }
    .hr1{
        width:330px;
        height: 1px;
        position: relative;
        border: 1px solid  hsl(215, 51%, 70%); ;
        opacity: 0.2;
        bottom:107px;

    }
    
    